.container-rela-window{
    display:flex;
    /* background-color: #0000ED; */
    width: calc(100vw - 260px);
    height: calc(100vh - 60px);
    flex-direction: column;
}

.container-create-rela-window{
    display:flex;
    width: calc(100vw - 260px);
    height: calc(100vh - 60px);
    flex-direction: column;
    
}

.frame-create{
    display:flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border:0.5px solid;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin:auto;
    padding: 1rem;
}

.frame-create h1{
    font-size: 30px;
    margin: 0;
}



.sub-frame-create{
    margin: 2rem 2rem 0 2rem;
    /* background-color: #a69ffb; */
}
.sub-frame-create p{
    margin:1rem 0;
}

.sub-frame-create input{
    width: 500px;
    padding: 0.5rem;
    border-radius: 5px ;
    border: 0.5px solid;
    color: #000;
    margin:0 0 1rem 0;
}

.frame-btn-create-rela{
    border-bottom: 1px solid;
    display:flex;
    justify-content: center;
    /* height: 100px; */
    padding: 1em 0 1em 0;
    width: calc(100vw - 260px);
    
}

.group-btn{
    width: 700px;
    padding: 1rem 0;
    /* background-color: #a69ffb; */
    display: flex;
    justify-content: flex-end;
}

.group-btn button{
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid;
}
.frame-btn-create-rela button{
    display:flex;
    font-size: 20px;
    padding: 0.5rem 1rem;
    background: linear-gradient(to top, #22ABDE, #1E11C0);
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.frame-btn-create-rela button p{
    margin: 0 0 0 1rem;
}

.frame-btn-create-rela button:hover {
    background: linear-gradient(to top, #1E11C0, #22ABDE);
    color: #FFFFFF;
    transform: translateY(-2px); /* Optional: Add a slight upward shift on hover */
}

.frame-btn-create-rela button:active {
    background: linear-gradient(to top, #1E11C0, #22ABDE);
    color: #FFFFFF;
    transform: translateY(1px); /* Optional: Add a slight downward shift on click */
}

.frame-all-rela{
    margin:0 1rem;
}

.all-menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap; /* Allow items to wrap to the next row */
    max-height:500px;
    background-color: rgb(219, 228, 229);
    overflow-y: auto;
}

.box-rela-menu{
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    height: 70px;
    width: 18.5%;
    min-width: 200px;
    background-color: #4b99ff;
    margin: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    font-size: 15px;
}

.box-rela-menu:hover {
    background-color: #3066b8; /* Change background color on hover */
  }
  
.box-rela-menu:active {
    background-color: #1c3c6b; /* Change background color on active/pressed state */
}

.container-edit-rela{
    display:flex;
    /* background-color: #0000ED; */
    width: calc(100vw - 260px);
    flex-direction: column;
}

.icon-go-back{
    border: 0px solid;
    font-size: 20px;
    border-radius: 50%;
    padding: 4px;
    background-color: #8c8c8c;
    margin-left: 1rem;
    color: #FFF;
    cursor: pointer;
    &:hover {
        background-color: #606060;
    }
    &:active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
}

.edit-rela-header {
    border-bottom: 1px solid;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

.edit-rela-body{
    background-color: #b0fff6;
    display: flex;
    width: calc(100vw - 260px);
    /* height: calc(100vh - 60px); */
    flex-direction: column;
}
